 <div class="form-group row col-8 mb-2">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<div class="input-group-text">
					<%= f.check_box :correct, value: true%>
				</div>
			</div>
				<br>
			<%= f.text_field :answer, class: "form-control shadow", placeholder: "Enter the option"%>
			</br>
		</div>
</div>
