
<% if user_signed_in? && current_user.admin? %>
  <div class="container mt-sm-5 my-1 pb-5">
      <div class="question ml-sm-5 pl-sm-5 pt-2 shadow p-3 mb-3 bg-info rounded">
        <% opt.each do |answer|%>
          <%= hidden_field(:answer, :id) %>
          <div class= "alert alert-success">
          <div class="custom-control custom-checkbox">
            <%= check_box(:answer, answer.answer, {disabled: true, checked: answer.correct?  ? true : false}) %>
            <%= answer.answer %>
            <br />
          </div>
        </div>
        <% end %>
      </div>
  </div>
<% end %>
