
  <% opt.each do |question| %>
    <div class="row justify-content-md-center"> 
      <div class = "col-8 mt-4"> 
        <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-header font-italic">
           <% if question.categories.any?%>
            <div class="md-2"><%= question.categories.map(&:name) %> </div>
          <% end %>
        </div>
       
        <div class="card-body">
          <h5 class="card-title"><%=  link_to question.question, question_path(question), class:"text-success" %></h5>
          <%= link_to 'Answers',  question_path(question), class: "btn btn-outline-success" %>
          <%= link_to 'Edit',  edit_question_path(question), class:"btn btn-outline-success" %>
          <%= link_to 'Destroy', "question_delete/#{question.id}", class:"btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </div>

        <div class="card-footer text-muted">
          <small> Created  <%= time_ago_in_words(question.created_at) %>  ago,
            updated <%= time_ago_in_words(question.updated_at) %>  ago
          </small>
        </div>
        </div>
      </div>
      </div>
  <% end %>
</div>
