
<% if user_signed_in? && current_user.admin?%>
  <h1 class="text-center mt-4">Listing all  Questions</h1>
  <div class="container shadow p-3 mb-3 bg-info rounded"> 
    <div class="text-center mt-4 mb-3">
      <%= link_to 'New Question', new_question_path, class:"btn btn-outline-primary" %>
    </div>
    <%= render 'shared/pagination', opt: @questions%>
    <%= render 'question', opt: @questions %>
    <%= render 'shared/pagination', opt: @questions, loc: ["mb-4"]%>
  </div>
  <% end %>