<% if user_signed_in? && current_user.admin? %>
  <h1 class="text-center mt-4"> Question: <%= @question.question%></h1>

    <div class="text-center mt-4">
      <%= link_to "Edit Question", edit_question_path(@question), class: "btn btn-outline-info" %>
    </div>
  <h3 class="text-center mt-4">Answer</h3>
  <%= render 'answer', opt: @question.answers %>
<% end %>
