 <div class="col-10 shadow p-5 mb-3 bg-info rounded">
 <div class="result-info">
  <div class="text-left p-5 rounded mb-4">
      <h4 class= "font-weight-bold"> Performance </h4>
      <h5 class="font-weight-bold py-2 px-4">Total Questions: <%= @quiz.total_question %> </h5>
      <h5 class="font-weight-bold py-2 px-4">Total Correct Answer: <%= @quiz.total_correct_answer %> </h5>
      <h5 class="font-weight-bold py-2 px-4">Percentage: <%= @quiz.percentage %> % </h5>
    </div>
 </div>
  <% q_no = 1 %>
  <% opt.each do |result| %>
    <h4 class='mt-4'>Q<%=q_no%>. <%= result.question.question%> </h4>
      <% q_no = q_no + 1 %>
    <% result.question.answers.each do |answer|%>
      <% if !result.given_answer.nil?%>
      <% if answer.correct? %>
       <div class= "alert alert-warning answer-size">
      <% elsif get_answer(result.given_answer).correct? %>
       <div class= "alert alert-success answer-size">
      <% else  %>
       <div class= "alert alert-danger answer-size">
      <% end %>
          <div class="custom-control custom-checkbox">
            <%= check_box(:answer, answer.answer, {disabled: true, checked: get_answer(result.given_answer).id == answer.id ? true : false}) %>
            <%= answer.answer %>
            <br />
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>