<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
       <%= form_with(url: "start", method: :get, class: "shadow p-3 mb-3 mt-3 bg-info rounded") do |form| %>
        <% if !user_signed_in? %> 
          <div class="form-group row">
            <%= form.label :email, class:"col-2 col-form-label text-light" %>
            <div class="col-10">
              <%= form.email_field :email, class:"form-control shadow rounded", placeholder: "Enter your email", required: true %>
            </div>
          </div>
        <% end %>
       
        <div class="form-group row">
          <%= form.label :category, class:"col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.select(:category_ids, Category.pluck(:name, :id),
                                      { prompt:"Select Category"}, { required: true,  class: "custom-select shadow rounded"} ) %>
          </div>
        </div>

        <div class="form-group row justify-content-center">
          <%= form.submit "Start Quiz",  class:"btn-btn-outline-light btn-lg" %>
        </div>
        <% end %>
      </div>
    </div>
</div>



       


