
<div class="container">
  <div class="row justify-content-center">
    <div class="col-10">
      <h1 class="display-4 p-3 mb-2 justify-content-center"> Quize- <%= @questions.first.categories.first.name%> </h1>
      <%= form_with(url: "quizzes", method: :post, class: "shadow p-3 mb-3 bg-info rounded") do |form| %>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <% if !user_signed_in? %>
          <%= hidden_field_tag :email, @guest_email %>
        <% end %>
        <%= hidden_field_tag :quiz_id, @quiz.id %>
        <% q_no = 1%>
        <% @questions.each do |question| %>
          <h2 class="display-7 p-3 mb-2">Q<%= q_no %>. <%= question.question%> </h2>
         
          <div class="row">
           <div class="col-1">
           </div>
            <div class="col-8">
              <% question.answers.each do |answer|%>
                <div class="alert alert-success answer-size">
                  <div class="custom-control custom-checkbox">
                    <%= form.radio_button question.id, answer.id,required: true,  class: "form-check-input"%> <%= answer.answer %>
                    <br />
                  </div>
                </div>
              <% end %>
            </div>
          </div>
          <% q_no = q_no+1 %>
        <% end %>
        <div class="form-group row justify-content-center">
          <%= form.submit "Submit", class:"btn-btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
  