
<div class="container">
  <div class="row justify-content-center">
  <h1> Quiz result of  <%=  user_signed_in? ? current_user.name : 'Guest User' %> </h1>
  <%= render 'report', opt: @results %>
  </div>
</div>
  

