<% quizzes.each do |quiz| %>
      <div class="row justify-content-md-center"> 
        <div class = "col-4 mt-4"> 
          <div class="card text-center shadow mb-5 bg-white rounded">
          <div class="card-body">
            <h5 class="card-title"><%=  link_to quiz.name, profile_path(quiz), class:"text-success" %></h5>
            <p class="card-text">Total Questions:  <%= quiz.total_question %></p>
            <p class="card-text">Total Correct Answer: <%= quiz.total_correct_answer %></p>
            <p class="card-text">Percentage: <%= quiz.percentage %>%</p>
          </div>

          <div class="card-footer text-muted">
              held on <%= time_ago_in_words(quiz.updated_at) %>  ago
            </small>
          </div>
          </div>
        </div>
        </div>
    <% end %>