
<h1 class="text-center mt-4">Listing all  Users</h1>
<div class="container shadow p-3 mb-3 bg-info rounded"> 
  <%= render 'shared/pagination', opt: @users%>
  <% @users.each do |user| %>
    <div class="row justify-content-md-center"> 
      <div class = "col-4 mt-4"> 
        <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title"><%=  link_to user.name, "user/results/#{user.id}", class:"text-success" %></h5>
           <p class="card-text"> <%= pluralize(user.quizzes.count, "quiz") %></p>
        </div>
        <div class="card-footer text-muted">
          <small> Created  <%= time_ago_in_words(user.created_at) %>  ago,
            updated <%= time_ago_in_words(user.updated_at) %>  ago
          </small>
        </div>
        </div>
      </div>
      </div>
  <% end %>
  <%= render 'shared/pagination', opt: @users, loc: ["mb-4"]%>
</div>


