<% if @quizzes.present?%>
<h1 class="text-center mt-4">Listing all  quizzes of <%= @quizzes.first.user.name%></h1>
  <div class="container shadow p-3 mb-3 bg-info rounded"> 
    <%= render 'shared/pagination', opt: @quizzes%>
    <%= render 'quizzes', quizzes: @quizzes%>
  
    <%= render 'shared/pagination', opt: @quizzes, loc: ["mb-4"]%>
  </div>
<% else  %>
  <div class= "row justify-content-center mt-3 mb-3 pb-5">
    <%= link_to "Start Quiz", category_select_path, class: "btn btn-outline-info" %>
  </div>
<% end %>
 