<h1 class="text-center mt-4">Signup for Quize</h1>
<div class="container">
<div class="row justify-content-center">
  <div class="col-10">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "shadow p-3 mb-3 bg-info rounded"}) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group row">
          <%= form.label :name, class:"col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :name, class:"form-control shadow rounded", placeholder: "Enter a name" %>
          </div>
      </div>

      <div class="form-group row">
        <%= form.label :email, class:"col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= form.email_field :email, class:"form-control shadow rounded", placeholder: "Enter a email" %>
        </div>
      </div>

       <div class="form-group row">
        <%= form.label :password, class:"col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= form.password_field :password, class:"form-control shadow rounded", placeholder: "Choose a password" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <%= form.submit(@user.new_record? ?  "Sign Up" : "Update Account", class:"btn-btn-outline-light btn-lg") %>
      </div>
      <% end %>
      <div class="row justify-content-center mb-3">
      <%= render "devise/shared/links" %>
    </div>
    </div>
  </div>
</div>


