<div  class="container pad-100" id="home-container">
  <div class="jumbotron text-center text-black shadow p-3 mb-3 bg-alert rounded">
    <h1 class="display-4 pad-top-80">Welcome to the quiz</h1>
    <p class="lead">Lets get started</p>
    <hr class="my-4">
      <% if !user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-outline-info btn-lg" %> 
        <p class="lead mb-3 mt-3">Or</p>
        <hr class="my-4">
      <% end %>
       <%= link_to "Start Quiz", category_select_path, class: "btn btn-outline-info btn-lg" %> 
  </div>
</div>