<html>
<head>
<title>Quize</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <style>
    .answer-size{
      font-size: 22px;
    }

    .result-info {
      background-color: rgb(83, 153, 101) !important;
    } 
    .answer-size{
      font-size: 22px;
    }
    .container{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }

    .col-10{
      position: relative;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
    .shadow {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
    .rounded {
      border-radius: 0.25rem !important;
    }
    .p-5 {
      padding: 3rem !important;
    }
    .mb-3 {
      margin-bottom: 1rem !important;
    }
    .bg-info {
      background-color: #17a2b8 !important;
    }
    .p-5 {
      padding: 3rem !important;
    }
    .text-left {
      text-align: left !important;
    }
    .mb-4 {
      margin-bottom: 1.5rem !important;
    }
    .font-weight-bold {
      font-weight: 700 !important;
    }
    .py-2 {
      padding-top: 0.5rem !important;
    }
    .px-4 {
      padding-left: 1.5rem !important;
    }
    .alert {
      position: relative;
      padding: 0.75rem 1.25rem;
      margin-bottom: 1rem;
      border: 1px solid transparent;
      border-radius: 0.25rem;
    }
    .alert-warning {
      color: #856404;
      background-color: #fff3cd;
      border-color: #ffeeba;
    }
    .alert-success {
      color: #155724;
      background-color: #d4edda;
      border-color: #c3e6cb;
    }
    .alert-danger {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }

    .custom-control {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .custom-checkbox {
  border-radius: 0.25rem;
  }
    </style>
</head>
<body>
  <div class="container">
     <div class="col-10 shadow p-5 mb-3 bg-info rounded">
      <div class="result-info">
        <div class="text-left p-5 rounded mb-4">
            <h4 class= "font-weight-bold"> Performance </h4>
            <h5 class="font-weight-bold py-2 px-4">Total Questions: <%= @quiz.total_question %> </h5>
            <h5 class="font-weight-bold py-2 px-4">Total Correct Answer: <%= @quiz.total_correct_answer %> </h5>
            <h5 class="font-weight-bold py-2 px-4">Percentage: <%= @quiz.percentage %> % </h5>
          </div>
      </div>
        <% q_no = 1 %>
        <% @results.each do |result| %>
          <h4 class='mt-4'>Q<%=q_no%>. <%= result.question.question%> </h4>
            <% q_no = q_no + 1 %>
          <% result.question.answers.each do |answer|%>
            <% if !result.given_answer.nil?%>
            <% if answer.correct? %>
            <div class= "alert alert-warning answer-size">
            <% elsif Answer.find(result.given_answer).correct? %>
            <div class= "alert alert-success answer-size">
            <% else  %>
            <div class= "alert alert-danger answer-size">
            <% end %>
                <div class="custom-control custom-checkbox">
                  <%= check_box(:answer, answer.answer, {disabled: true, checked: result.given_answer == answer.id ? true : false}) %>
                  <%= answer.answer %>
                  <br />
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
  </div>
</body>
</html>

  

