
<h1 class="text-center mt-4">Log in</h1>
<div class="container">
<div class="row justify-content-center">
  <div class="col-10">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "shadow p-3 mb-3 bg-info rounded"}) do |form| %>
      <div class="form-group row">
        <%= form.label :email, class:"col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= form.email_field :email, class:"form-control shadow rounded", placeholder: "Enter your email address" %>
        </div>
      </div>

       <div class="form-group row">
        <%= form.label :password, class:"col-2 col-form-label text-light" %>
        <div class="col-10">
          <%= form.password_field :password, class:"form-control shadow rounded", placeholder: "Enter your password" %>
        </div>
      </div>

      <div class="form-group row justify-content-center">
        <%= form.submit  "Log in", class:"btn-btn-outline-light btn-lg" %>
      </div>
      <% end %>
    </div>
    <div class=" row justify-content-center mb-3 col-10">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

