// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.pad-100 {
  padding: 100px;
}

.pad-top-80 {
  padding-top: 80px;
}
