<div class="container">
<div class="row justify-content-center">
  <div class="col-10">
    <%= render 'shared/errors', obj: @category%>
    <%= form_with(model: category, class: "shadow p-3 mb-3 bg-info rounded") do |form| %>
      <div class="form-group row">
          <%= form.label :name, "Category Name", class:"col-2 col-form-label text-light" %>
          <div class="col-10">
            <%= form.text_field :name, class:"form-control shadow rounded", placeholder: "Enter a name" %>
          </div>
      </div>

      <div class="form-group row justify-content-center">
        <%= form.submit class:"btn-btn-outline-light btn-lg" %>
      </div>
      <% end %>
    </div>
  </div>
</div>
