
<h1 class="text-center mt-4">Listing all  categories</h1>
<div class="container shadow p-3 mb-3 bg-info rounded"> 
   <div class="text-center mt-4 mb-3">
    <%= link_to 'New Category', new_category_path, class:"btn btn-outline-primary" %>
  </div>
  <%= render 'shared/pagination', opt: @categories%>
  <% @categories.each do |category| %>
    <div class="row justify-content-md-center"> 
      <div class = "col-4 mt-4"> 
        <div class="card text-center shadow mb-5 bg-white rounded">
        <div class="card-body">
          <h5 class="card-title"><%=  link_to category.name, category_path(category), class:"text-success" %></h5>
           <p class="card-text"> <%= pluralize(category.questions.count, "question") %></p>
          <%= link_to 'Edit',  edit_category_path(category), class:"btn btn-outline-success" %>
          <%= link_to 'Destroy', "category/all-questions/#{category.id}", class:"btn btn-outline-danger", data: { confirm: 'Are you sure?' } %>
        </div>
        <div class="card-footer text-muted">
          <small> Created  <%= time_ago_in_words(category.created_at) %>  ago,
            updated <%= time_ago_in_words(category.updated_at) %>  ago
          </small>
        </div>
        </div>
      </div>
      </div>
  <% end %>
  <%= render 'shared/pagination', opt: @categories, loc: ["mb-4"]%>
</div>


