
<h1 class="text-center mt-4"> Category: <%= @category.name%></h1>
<% if user_signed_in? && current_user.admin? %>
  <div class="text-center mt-4">
    <%= link_to "Edit category name", edit_category_path(@category), class: "btn btn-outline-info" %>
    <%= link_to 'New Category', new_category_path, class:"btn btn-outline-primary" %>
  </div>
<% end %>
<h3 class="text-center mt-4">Questions</h3>
 <%= render 'questions/question', opt: @category.questions%>