<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to "Quize", root_path, class: "navbar-brand", id: "logo" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
       <% if user_signed_in? %>
          <% if current_user.admin? %>
            <li class="nav-item">
                <%= link_to "Categories", categories_path,  class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Questions", questions_path,  class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to "Results", users_path,  class: "nav-link" %>
            </li>
          <% end %>
        <li class="nav-item">
          <%= link_to  current_user.admin? ? "(Admin)#{current_user.name}" : current_user.name , profiles_path,  class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Logout", destroy_user_session_path, method: :delete,  class: "nav-link" %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Sing up", new_user_registration_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Guest User Quiz", category_select_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>